@import "styles/colors.scss";
.first_stage_page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0 60px 0;

  &__text {
    font-size: 36px;
    text-align: center;
    display: flex;
    align-self: start;
    margin: 45px 108px 400px;
  }
}
